@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

/* geral */

*{
  margin: 0 auto; 
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  text-decoration:none;
}

body {
  background-color: aliceblue;
}

/* menu */

.faixa ul {
	display: flex;
}

.faixa ul li {
	list-style-type: none;
  padding-right: 5px;
  display: inline;
  position: relative;
}

.faixa ul li a {
  display: block;
  text-align: center;
}

.faixa li ul {
  position: absolute;
  display: none;
}

.faixa li:hover ul, .faixa li.over ul{display:block;}

.faixa li ul li {
  display: block;
}

.faixa li {
  position: absolute;
  text-decoration:none;
  padding: 1.75%  2%;
  float: right;
  list-style: none;
  text-align: center;
  display: block;    
  width: 100%;
}

.faixa li a {
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  background:rgba(255, 0, 76, 0.801);
  color:aliceblue;
  border-radius: 10px/20px;
}

.faixa li a:hover {
  background:rgba(238, 255, 0, 0.801);
  color:rgba(255, 0, 76, 0.801);
  width: 100%;
  border: none; 
}

/* botão */

.botao1 {
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  background:aliceblue;
}

.botao1 li a {
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  float: right;
  background:rgba(114, 84, 93, 0.801);
  color:aliceblue;
  border-radius: 10px/20px;
}

/* banner */ 

#banner {
  display: inline-block;
  width: 700px;
  top: 145px;
  right: 200px;
}

.titulo {
  position: absolute;
  top: 360px;
  left: 500px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.subtitulo {
  position: absolute;
  top: 260px;
  left: 550px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.botaobanner {
  position: absolute;
  text-decoration:none;
  top: 290px;
  left: 582px;
  list-style: none;
  text-align: center;
  line-height: 200px;
  display: block;
  padding: 1.75% 1.18%;
  float: right;
  border: 80px;
}

.botaobanner li a {
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  float: right;
  background:rgba(114, 84, 93, 0.801);
  color:aliceblue;
  border-radius: 10px/20px;
}

.botaobanner li a:hover {
  background:rgba(238, 255, 0, 0.801);
  color:rgba(255, 0, 76, 0.801);
  width: 100%;
}

/* destaques */

.valores {
  position: absolute;
  top: 950px;
  left: 300px;
  font-size: 30px;
  border-color: rgba(0, 0, 0, 0.801);
  margin: 10px;
  padding: 10px 200px;
  background:rgba(255, 0, 76, 0.801);
  border-radius: 10px/20px;
  color: aliceblue;
}

.dalailama {
  position: absolute;
  top: 1050px;
  left: 40px;
  font-size: 30px;
}

.titulodalai {
  position: absolute;
  top: 1050px;
  left: 560px;
  font-size: 30px;
  color: rgba(255, 0, 76, 0.801);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.botaodalai {
  position: absolute;
  text-decoration:none;
  top: 1250px;
  left: 560px;
  list-style: none;
  text-align: center;
  line-height: 200px;
  display: block;
  padding: 1.75% 1.18%;
  float: right;
  border: 80px;
}

.botaodalai li a {
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  float: right;
  background:rgba(114, 84, 93, 0.801);
  color:aliceblue;
  border-radius: 10px/20px;
}

.botaodalai li a:hover {
  background:rgba(238, 255, 0, 0.801);
  color:rgba(255, 0, 76, 0.801);
  width: 100%;
}

.fundoDalai {
  position: absolute;
  padding: 85px 393px;
  top: 1100px;
  right: 20px;
  background: rgba(255, 0, 76, 0.252);
  border-radius: 10px/20px;
}

.descricaodalai {
  position: absolute;
  top: 1100px;
  left: 560px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);  
}
  
.marywells {
  position: absolute;
  top: 1500px;
  right: 30px;
  font-size: 30px;    
}

.titulomary {
  position: absolute;
  top: 1500px;
  right: 550px;
  font-size: 30px;
  color: rgba(255, 0, 76, 0.801);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.botaomary {
  position: absolute;
  text-decoration:none;
  top: 1800px;
  left: 560px;
  list-style: none;
  text-align: center;
  line-height: 200px;
  display: block;
  padding: 1.75% 1.18%;
  float: right;
  border: 80px;
}

.botaomary li a {
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  float: right;
  background:rgba(114, 84, 93, 0.801);
  color:aliceblue;
  border-radius: 10px/20px;
}

.botaomary li a:hover {
  background:rgba(238, 255, 0, 0.801);
  color:rgba(255, 0, 76, 0.801);
  width: 100%;
}

.fundoMary {
  position: absolute;
  padding: 130px 393px;
  top: 1550px;
  left: 30px;
  background: rgba(255, 0, 76, 0.252);
  border-radius: 10px/20px;
}
  
.descricaomary {
  position: absolute;
  top: 1550px;
  left: 40px;
  right: 530px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);  
}

.destaquetitulo {
  position: absolute;
  top: 2050px;
  left: 50px;
  font-size: 40px;
  border-color: rgba(0, 0, 0, 0.801);
  margin: 10px;
  color: rgb(255, 255, 255);
}

.destaquesubtitulo {
  position: absolute;
  top: 2100px;
  left: 50px;
  font-size: 16px;
  border-color: rgba(0, 0, 0, 0.801);
  margin: 10px;
  color: rgb(255, 255, 255);
}

.botaodestaque {
  position: absolute;
  text-decoration:none;
  top: 2050px;
  left: 950px;
  list-style: none;
  text-align: center;
  line-height: 200px;
  display: block;
  padding: 1.75% 1.18%;
  float: right;
  border: 80px;  
}
  
.botaodestaque li a {  
  padding: 20px 40px;
  text-align: center;
  line-height: 10px;
  float: right;
  background:rgba(114, 84, 93, 0.801);
  color:aliceblue;
  border-radius: 10px/20px;
}
  
.botaodestaque li a:hover {
  background:rgba(238, 255, 0, 0.801);
  color:rgba(255, 0, 76, 0.801);
  width: 100%;
}
  
.destaque {
  position: absolute;
  padding: 100px 665px;
  top: 2000px;
  left: 10px;
  background: rgba(255, 0, 76, 0.801);
  border-radius: 10px/20px;
}

/* rodapé */

.pezinho {
  position: absolute;
  top: 2250px;
  background-color: rgb(68, 68, 80);
  color: aliceblue;
  width: 100%;
  height: 400px;    
  line-height: 35px;
}

.TSobre {
  position: absolute;
  left: 290px;
  top: 20px;
  font-size: 33px;
}

.TSobre a {

  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
}

.Sobre {
  position: absolute;
  left: 290px;
  top: 100px;
  font-size: 15px;
}

.Sobre a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
}

.TProdutos {
  position: absolute;
  left: 450px;
  top: 20px;
  font-size: 33px;      
}

.TProdutos a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
}

.Produtos {
  position: absolute;
  left: 450px;
  top: 100px;
  font-size: 15px;      
}

.Produtos a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
}

.TAprender {
  position: absolute;
  text-decoration: none;
  list-style: none;
  left: 690px;
  top: 20px;
  font-size: 33px;      
  text-decoration:none;
  display: block;
  float: right;
  border: 80px;
}

.TAprender a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);      
}

.Aprender {
  position: absolute;
  left: 690px;
  top: 100px;
  font-size: 15px;      
}

.Aprender a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
}

.TFaleConosco {
  position: absolute;
  left: 890px;
  top: 20px;
  font-size: 33px;      
}

.TFaleConosco a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
}

.FaleConosco {
  position: absolute;
  left: 890px;
  top: 100px;
  font-size: 15px;      
}

.FaleConosco a {
  text-shadow: 0px 0px 5px rgb(0, 0, 0); 
  color: rgb(255, 255, 255);
}